* {
    box-sizing: border-box;
}
:root {
    width: 100vw;
    min-height: 100vh;
    background: whitesmoke;
    font-family: sans-serif, serif;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}
.title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding:5px;
    /* box-shadow: 0 0 1rex rgb(0, 0, 0, 0.1); */
}
table {
    width: min(95vw, 500px);
    height: min(95vw, 500px);
    margin: 20px;
    background: black;
}
caption {
    padding: 5px;
    font-weight: 600;
    font-size: larger;
}
tbody {
    background: green;
    outline: 3px solid black;
    border-radius: 2px;
}
tr, td {
    margin: 0;
}

/* 白駒、黒駒 */
td.white, td.black {
    position: relative;
}
td.white:after, td.black:after {
    content: "";
    position: absolute;
    top: 4.5%;
    left: 4.5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
td.white::after {
    background: white;
}
td.black::after {
    background: black;
}

/* OK、NG */
td.ok {
    background: rgb(120, 120, 255, 0.5);
}
td.ng {
    background: rgb(200, 0, 0, 0.5);
}

/* 四隅の丸表示 */
td.mark {
    position: relative;
}
td.mark::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
}

div.space {
    margin: auto;
}
ul.buttom-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto auto 0;
    padding: 5px;
    font-size: small;
    color: #eee;
    background: #444;
}
.link {
    cursor: pointer;
}
.link:hover {
    color: #00f;
    transition: 300ms;
}
